# Local Keycloak container
KEYCLOAK_HOST=127.0.0.1
KEYCLOAK_PORT=8080
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
KC_HEALTH_ENABLED=true
KC_METRICS_ENABLED=true
KC_DB=dev-file

# Platform realm setup values used in the docs for client creation
OAAS_PLATFORM_REALM=master
OAAS_PLATFORM_LOGIN_CLIENT_ID=oaas-admin-ui
OAAS_PLATFORM_LOGIN_CLIENT_SECRET=change-me-admin-ui-secret
OAAS_PROVISIONER_CLIENT_ID=oaas-provisioner
OAAS_PROVISIONER_CLIENT_SECRET=change-me-provisioner-secret
OAAS_TENANT_CLIENT_ID=oaas-client
OAAS_TENANT_BOOTSTRAP_PASSWORD=ChangeMe123!
